# WordPress Specific
/wp-content/uploads/
/wp-config.php
/wp-admin/
/wp-includes/
*.log
.DS_Store
.vscode/
.idea/
composer.lock
node_modules/
.env

# Plugin Specific
# Potentially ignore if you ever had local build artifacts.
# For now, it seems fine.
